<h1>New cat</h1>

<form action="<%= cats_url %>" method = 'post'>
    <label for="new_cat"> Name </label>
    <input type="text", name = "cat[name]">

<br><br>
    <label for="new_cat_birth_date"> Birth Date </label>
    <input type="date", name = "cat[birth_date]">
<br><br>
    <label for="new_cat_color">Color </label>
        <select name = "cat[color]", id="new_cat_color">
            <option  disabled selected> Select One </option>
            <option  value = "black"> Black </option>
            <option  value = "white"> White</option>
            <option  value = "brown"> Brown</option>
            <option  value = "yellow"> Yellow</option>
        </select>
<br><br>
    <label for="new_cat_sex"> Sex </label>
        <input type="radio", name = "cat[sex]", value = "M", id='male'> 
        <label for="male"> Male</label>
        <input type="radio", name = "cat[sex]", value = "F", id='female'> 
        <label for="female"> Female</label>

<br><br>
    <label for="new_cat_description">Description </label>
        <textarea name="cat[description]" ></textarea>

<br><br>
    <input type="submit", value = "Add a cat">


</form>